/experiments
/ckpts
/convert_ckpt.py
/.vscode
/weights
/logs
*.log
*.pth
*.pt
*.ckpt
*.h5
*.json
*.yaml
*.pyc
__pycache__/
.DS_Store
/plots
/data
Symm3dTri_Architecture_Diagnostic_Report.pdf

extensions/*/build/
extensions/*/*.egg-info/
